<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4ceafd43-fad6-4295-b3a4-6a58d2dd238d/resourceGroups/resourceGroup1/providers/Microsoft.Web/sites/FernandoAvellarOrderSystem</ResourceId>
    <ResourceGroup>resourceGroup1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fernandoavellarordersystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>fernandoavellarordersystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FernandoAvellarOrderSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FernandoAvellarOrderSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProjetoFinalDM106Context" Order="3" Enabled="False">
          <Destination Path="Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProjetoFinalDM106.Models.ProjetoFinalDM106Context, ProjetoFinalDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="True">
          <Destination Path="Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProjetoFinalDM106.Models.ApplicationDbContext, ProjetoFinalDM106" MigrationConfiguration="ProjetoFinalDM106.Migrations.Configuration, ProjetoFinalDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjetoFinalDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjetoFinalDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjetoFinalDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjetoFinalDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjetoFinalDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjetoFinalDM106Context-Web.config Connection String">
      <ParameterValue>data source=fernandoavellarordersystemdb.database.windows.net;initial catalog=fernandoavellarordersystemdb;persist security info=True;user id=fernando;password=P@ssw0rd1980;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fernandoavellarordersystemdb.database.windows.net;Initial Catalog=fernandoavellarordersystemdb;Persist Security Info=True;User ID=fernando;Password=P@ssw0rd1980</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>